:host {
  ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background: white;
    padding: 0 20px 0 0;
    border: 0;
  }

  ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 0 20px 0 0;
  }
}
