<p-card styleClass="shadow-none border-1 border-200">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2 pl-4 pt-4">
      <icon-radio fill="var(--primary-color)"></icon-radio>
      <div class="text-sm font-semibold">Media Sentiment Breakdown</div>
      <icon-info></icon-info>
    </div>
  </ng-template>
  <spinner [spinning]="isLoading">
    <p-chart type="line" [data]="chartData" [options]="options" (onDataSelect)="onDataSelect($event)"></p-chart>
  </spinner>
</p-card>
