<section>
  <div class="flex align-items-center gap-2 mb-4">
    <icon-globe fill="var(--primary-color)"></icon-globe>
    <div class="text-sm font-semibold">Top 10 Media</div>
    <icon-info></icon-info>
  </div>
  <div class="grid">
    <div class="col-6">
      <app-media-chart [data]="data" title="Tribunnews.com"></app-media-chart>
    </div>
    <div class="col-6">
      <app-media-chart [data]="data" title="Detik.com"></app-media-chart>
    </div>
    <div class="col-6">
      <app-media-chart [data]="data" title="Inews.Id"></app-media-chart>
    </div>
    <div class="col-6">
      <app-media-chart [data]="data" title="Okezone.com"></app-media-chart>
    </div>
  </div>
</section>
