<section class="grid">
  <div class="col-12 lg:col-3 xl:col-3">
    <app-media-name></app-media-name>
  </div>
  <div class="col-12 lg:col-9 xl:col-9">
    <div class="mb-5">
      <app-latest-news></app-latest-news>
    </div>
    <div class="grid mb-5">
      <div class="col-7">
        <app-sentiment></app-sentiment>
      </div>
      <div class="col-5">
        <app-statements></app-statements>
      </div>
    </div>
    <div>
      <app-headline-news></app-headline-news>
    </div>
  </div>
</section>
