:host ::ng-deep {
  .p-carousel-container {
    display: initial;
    position: relative;
  }

  .p-carousel-container > button.p-carousel-prev {
    position: absolute;
    left: 0;
    top: 25%;
    margin: 0;
    transform: translate(0, -50%);
    background-color: var(--primary-color);
    color: white;
    border-radius: 0;
    padding: 28px 20px;
    z-index: 9;
  }

  .p-carousel-container > button.p-carousel-next {
    position: absolute;
    right: 0;
    top: 25%;
    margin: 0;
    transform: translate(0, -50%);
    background-color: var(--primary-color);
    color: white;
    border-radius: 0;
    padding: 28px 20px;
    z-index: 9;
  }

  .p-carousel-items-container {
    gap: 28px;
  }

  .p-carousel-indicators {
    display: none;
  }
}
