<div class="card">
  <p-table
    [value]="customers"
    [lazy]="true"
    (onLazyLoad)="loadCustomers($event)"
    dataKey="id"
    [selection]="selectedCustomers"
    (selectionChange)="onSelectionChange($event)"
    [selectAll]="selectAll"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="totalRecords"
    [showFirstLastIcon]="false"
    [loading]="loading"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr class="text-sm font-medium">
        <th style="width: 8px"></th>
        <th class="w-12rem pl-0">
          <div class="flex align-items-center gap-2">
            <p-tableHeaderCheckbox class="offs"></p-tableHeaderCheckbox>
            <span>Date</span>
            <i pSortableColumn="name" class="pi pi-angle-down"></i>
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            Media Name
            <i pSortableColumn="country.name" class="pi pi-angle-down"></i>
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            News Title
            <i pSortableColumn="company" class="pi pi-angle-down"></i>
          </div>
        </th>
        <th>
          <div class="flex align-items-center gap-2">
            Issue
            <i
              pSortableColumn="representative.name"
              class="pi pi-angle-down"
            ></i>
          </div>
        </th>
        <th style="width: 4rem" class="text-center">Preview</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-expanded="expanded">
      <tr class="text-sm">
        <td class="pr-2">
          <p-button
            [text]="true"
            size="small"
            [pRowToggler]="customer"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            styleClass="p-0 px-0  text-color"
            [style]="{ width: 'max-content' }"
          ></p-button>
        </td>
        <td class="pl-0">
          <div class="flex align-items-center gap-2">
            <p-tableCheckbox [value]="customer"></p-tableCheckbox>
            {{ customer.name }}
          </div>
        </td>
        <td>{{ customer.country.name }}</td>
        <td>{{ customer.company }}</td>
        <td>{{ customer.representative.name }}</td>
        <td>
          <div class="flex gap-2">
            <p-button
              [outlined]="true"
              [text]="true"
              size="small"
              styleClass="p-2 border-1 border-200"
            >
              <icon-pencil class="fill-text-color"></icon-pencil>
            </p-button>
            <p-button
              [outlined]="true"
              [text]="true"
              size="small"
              styleClass="p-2 border-1 border-200"
            >
              <icon-newspaper
                [width]="16"
                [height]="16"
                class="fill-text-color"
              ></icon-newspaper>
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
      <h1>test</h1>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state class="ui-g">
      <div class="text-color text-sm">
        Showing {{ state.page * state.rows + 1 }} -
        {{ state.rows * (state.page + 1) }} from {{ state.totalRecords }} data
      </div>
    </ng-template>
  </p-table>
</div>
