<p-card [style]="{ width: '260px', position: 'relative' }">
  <div class="flex p-4">
    <div class="flex gap-3">
      <div
        class="flex align-items-center justify-content-center border-round-md"
        [style]="{
          width: '64px',
          height: '64px',
          background: bgColor,
        }"
      >
        <i [class]="icon" [style]="{color}"></i>
      </div>
      <div>
        <p class="m-0">{{ title }}</p>
        <h2 class="m-0" style="font-size: 36px">{{ content }}</h2>
      </div>
    </div>
  </div>
  <div class="right-button cursor-pointer">
    <div class="h-full flex">
      <p-divider layout="vertical"></p-divider>
      <div class="align-self-center px-2">
        <i class="pi pi-angle-right text-primary"></i>
      </div>
    </div>
  </div>
</p-card>
