<section>
  <div class="grid">
    <div class="col-6">
      <chart-card title="Visibility Chart">
        <p-chart
          type="bar"
          [data]="visibilityChartData"
          [options]="visibilityChartOpts"
        ></p-chart>
      </chart-card>
    </div>
    <div class="col-6">
      <chart-card title="Coverage Pie">
        <div class="flex align-items-center gap-6">
          <div id="coverage-legend-container" class="flex align-items-center gap-6">
            <p-chart
              type="pie"
              [data]="coveragePieData"
              [options]="coveragePieOpts"
              [plugins]="coveragePiePlugins"
            ></p-chart>
          </div>
        </div>
      </chart-card>
    </div>
    <div class="col-6">
      <chart-card title="Tone by Media Selection">
        <p-chart
          type="bar"
          [data]="visibilityChartData"
          [options]="visibilityChartOpts"
        ></p-chart>
      </chart-card>
    </div>
    <div class="col-6">
      <chart-card title="Tone by Category">
        <p-chart
          type="bar"
          [data]="visibilityChartData"
          [options]="visibilityChartOpts"
        ></p-chart>
      </chart-card>
    </div>
  </div>
</section>
