<section>
  <div class="grid">
    <div class="xl:col-6 lg:col-6 col-12">
      <chart-card title="Coverage Tone" id="coverageTone">
        <p-chart
          type="bar"
          [data]="coverageChartData"
          [options]="coverageChartOpts"
          (onDataSelect)="onDataSelect($event, 'chart')"></p-chart>
      </chart-card>
    </div>
    <div class="xl:col-6 lg:col-6 col-12">
      <chart-card title="Coverage Pie" id="coveragePie">
        <div class="flex align-items-center gap-6">
          <div id="coverage-legend-container" class="flex align-items-center justify-content-center gap-6 w-full">
            <p-chart
              type="pie"
              [data]="coveragePieData"
              [options]="coveragePieOpts"
              [plugins]="coveragePiePlugins"
              (onDataSelect)="onDataSelect($event, 'pie_category')"></p-chart>
          </div>
        </div>
      </chart-card>
    </div>
    <div class="xl:col-6 lg:col-6 col-12">
      <chart-card title="Tone by Media Selection" id="toneByMedia">
        <p-chart
          type="bar"
          [data]="toneByMediaChartData"
          [options]="toneByMediaChartOpts"
          (onDataSelect)="onDataSelect($event, 'media')"></p-chart>
      </chart-card>
    </div>
    <div class="xl:col-6 lg:col-6 col-12">
      <chart-card title="Tone by Category" id="toneByCategory">
        <p-chart
          type="bar"
          [data]="toneByCategChartData"
          [options]="toneByCategChartOpts"
          (onDataSelect)="onDataSelect($event, 'bar_category')"></p-chart>
      </chart-card>
    </div>
  </div>
</section>
