<header>
  <p-toolbar>
    <ng-template pTemplate="start">
      <img src="../../../assets/skema-logo.png" height="24" class="mr-2" />
      <p-divider layout="vertical"></p-divider>
      <img
        src="../../../assets/BPJS_Kesehatan_logo.png"
        height="24"
        class="mr-2"
      />
    </ng-template>
    <ng-template pTemplate="center">
      <p-tabMenu [model]="items">
        <ng-template pTemplate="item" let-item>
          <a
            class="p-menuitem-link flex justify-content-between align-items-center"
          >
            <div class="flex align-items-center gap-2">
              <span [class]="item.icon"></span>
              <h6>{{ item.label }}</h6>
            </div>
            <div>
              <span *ngIf="item.shortcut" [class]="item.shortcutClass">{{
                item.shortcut
              }}</span>
            </div>
          </a>
        </ng-template></p-tabMenu
      >
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-4">
        <p-inputSwitch formControlName="checked"></p-inputSwitch>
        <i class="pi pi-search"></i>
        <div class="flex">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2"
            shape="circle"
          ></p-avatar>
          <div>
            <h6>Joh Doe</h6>
            <small>admin</small>
          </div>
        </div>
      </div>
    </ng-template>
  </p-toolbar>
</header>
<main class="container py-4 flex gap-4">
  <aside class="w-2">
    <app-filter></app-filter>
  </aside>
  <section class="w-10">
    <router-outlet></router-outlet>
  </section>
</main>
<footer class="border-top-1 border-bluegray-100">
  <div class="flex justify-content-between py-2 px-4">
    <p>Copyright © 2024 Skema Data Indonesia. All Rights Reserved.</p>
    <div class="flex align-items-center gap-4">
      <p>Privacy Policy</p>
      <p>Terms and Conditions</p>
    </div>
  </div>
</footer>
