<section>
  <spinner [spinning]="isLoading">
    <div class="flex flex-column gap-2">
      <div class="text-sm flex gap-3 align-items-center">
        <div class="cursor-pointer" (click)="goBack()">
          <i class="pi pi-arrow-left"></i>
        </div>
        <div>
          <span class="font-semibold">Posted:</span> {{ article?.datee ?? "-" }}
        </div>
      </div>
      <div class="text-3xl font-semibold">
        {{ article?.title ?? "-" }}
      </div>
    </div>
    <p-divider></p-divider>

    <div class="flex justify-content-between">
      <div class="flex">
        <div class="text-sm">
          <div>
            <span class="font-semibold">Jurnalist:</span>
            {{ article?.media_name ?? "-" }}
          </div>
          <div>
            <span class="font-semibold">Media Type:</span>
            {{ article?.media_type ?? "-" }}
          </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="text-sm">
          <div>
            <span class="font-semibold">Location:</span>
            {{ article?.location ?? "-" }}
          </div>
          <div>
            <span class="font-semibold">News Value:</span>
            {{ article?.advalue_bw ?? 0 | formatAmount }}
          </div>
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="text-sm">
          <div>
            <span class="font-semibold">Ad Value:</span>
            {{ article?.advalue_fc ?? 0 | formatAmount }}
          </div>
          <div>
            <a class="font-semibold" [href]="article?.file_pdf" target="_blank"
              >Source</a
            >
          </div>
        </div>
      </div>
      <tag
        *ngIf="article"
        [content]="article.toneLabel"
        [type]="article.tone ?? 0"
      ></tag>
    </div>

    <img
      [src]="article?.image_url ?? ''"
      class="h-30rem w-full my-6"
      style="object-fit: cover"
      imgFallback="https://placehold.co/600x400?text=No+Image+Available"
    />

    <div class="mb-6 flex flex-column" *ngIf="article?.file_pdf && article?.media_type === 'media tv'">
      <video style="object-fit: fill" [height]="500" controls>
        <source [src]="article?.file_pdf" />
      </video>
    </div>

    <div
      class="text-sm text-color"
      [innerHTML]="sanitizedContent ?? article?.content ?? ''"
    ></div>
  </spinner>
</section>
