<div class="grid w-full pb-6">
  <div
    class="col-12 md:col-6 flex flex-column gap-4 px-3 py-4"
    *ngFor="let item of listCharts"
  >
    <ng-container *ngIf="!item.data?.isEmpty">
      <div class="flex align-items-center gap-2">
        <icon-newspaper fill="var(--primary-color)"></icon-newspaper>
        <div class="text-sm font-semibold">{{ item.title }}</div>
        <icon-info
          *ngIf="item.description"
          [pTooltip]="tooltipContent"
          [autoHide]="false"
        >
          <ng-template #tooltipContent>
            <span
              class="text-xs font-light line-height-1"
              style="color: var(--primary-color-text)"
            >
              {{ item.description }}
            </span>
          </ng-template>
        </icon-info>
      </div>

      <app-highcharts
        [isLoading]="item.isLoading"
        [data]="item.data"
        [height]="item.height"
      ></app-highcharts>
    </ng-container>
  </div>
</div>
