:host {
  .progress-spinner {
    position: relative;
    z-index: 9;
    width: 100%;
  }

  ::ng-deep .p-progress-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
  }

  ::ng-deep .p-progress-spinner-svg {
    width: 50px;
    height: 50px;
  }
}