<div class="grid w-full pb-6">
  <div class="col-12 flex flex-column gap-4">
    <div class="mb-3" *ngFor="let item of listCharts.slice(0, 1)">
      <ng-container
        *ngIf="!item.data?.isEmpty"
        [ngTemplateOutlet]="chart"
        [ngTemplateOutletContext]="{ item }"
      ></ng-container>
    </div>
  </div>
  <div class="col-12 md:col-6 flex flex-column gap-4">
    <ng-container *ngFor="let item of listCharts.slice(1); let even = even">
      <ng-container
        *ngIf="even && !item.data?.isEmpty"
        [ngTemplateOutlet]="chart"
        [ngTemplateOutletContext]="{ item }"
      ></ng-container>
    </ng-container>
  </div>

  <div class="col-12 md:col-6 flex flex-column gap-4">
    <ng-container *ngFor="let item of listCharts.slice(1); let odd = odd">
      <ng-container
        *ngIf="odd && !item.data?.isEmpty"
        [ngTemplateOutlet]="chart"
        [ngTemplateOutletContext]="{ item }"
      ></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #chart let-item="item">
  <div class="flex flex-column gap-2 px-2">
    <div class="flex align-items-center gap-2">
      <icon-newspaper fill="var(--primary-color)"></icon-newspaper>
      <p class="text-sm font-semibold">{{ item.title }}</p>
      <icon-info
        *ngIf="item.description"
        [pTooltip]="tooltipContent"
        [autoHide]="false"
      >
        <ng-template #tooltipContent>
          <span
            class="text-xs font-light line-height-1"
            style="color: var(--primary-color-text)"
          >
            {{ item.description }}
          </span>
        </ng-template>
      </icon-info>
    </div>

    <app-highcharts
      [isLoading]="item.isLoading"
      [data]="item.data"
      [height]="item.height"
    ></app-highcharts>
  </div>
</ng-template>
