:host {
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .checkbox-label {
    background-color: #f1f4fa;
    width: 58px;
    height: 32px;
    border-radius: 50px;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-sun {
    position: absolute;
    z-index: 9;
    left: 9px;
  }

  .icon-moon {
    position: absolute;
    z-index: 9;
    right: 9px;
  }

  .checkbox-label .ball {
    background-color: #d4dceb;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(26px);
  }
}
