<section>
  <spinner [spinning]="isLoading">
    <div class="grid">
      <div class="col-12">
        <chart-card
          title="Visibility Chart"
          [actionButton]="visibilityChartActionButton"
        >
          <p-chart
            *ngIf="!visibilityChartActionButton.toggle.value"
            type="line"
            [data]="visibilityChartLineData"
            [options]="visibilityChartLineOpts"
          ></p-chart>
          <div *ngIf="visibilityChartActionButton.toggle.value">
            <p-chart
              type="bar"
              [data]="visibilityChartBarData"
              [options]="visibilityChartBarOpts"
              [plugins]="visibilityChartBarPlugins"
            ></p-chart>
          </div>
        </chart-card>
      </div>
      <div class="col-12">
        <chart-card
          title="Visibility Pie"
          [actionButton]="visibilityPieActionButton"
        >
          <div
            *ngIf="!visibilityPieActionButton.toggle.value"
            class="flex align-items-center justify-content-center gap-6"
          >
            <div id="legend-container" class="flex flex-column justify-content-center align-items-center gap-6">
              <p-chart
                type="pie"
                [data]="visibilityPieData"
                [options]="visibilityPieOpts"
                [plugins]="visibilityPiePlugins"
              ></p-chart>
            </div>
          </div>
          <div *ngIf="visibilityPieActionButton.toggle.value">
            <p-chart
              type="bar"
              [data]="visibilityChartBarData"
              [options]="visibilityChartBarOpts"
              [plugins]="visibilityChartBarPlugins"
            ></p-chart>
          </div>
        </chart-card>
      </div>
    </div>
  </spinner>
</section>
