<section>
  <div class="grid">
    <div class="col-6">
      <chart-card title="Visibility Chart">
        <p-chart
          type="line"
          [data]="visibilityChartData"
          [options]="visibilityChartOpts"
        ></p-chart>
      </chart-card>
    </div>
    <div class="col-6">
      <chart-card title="Visibility Pie">
        <div class="flex align-items-center gap-6">
          <div id="legend-container" class="flex align-items-center gap-6">
            <p-chart
              type="pie"
              [data]="visibilityPieData"
              [options]="visibilityPieOpts"
              [plugins]="visibilityPiePlugins"
            ></p-chart>
          </div>
        </div>
      </chart-card>
    </div>
  </div>
</section>
