@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./primeng-themes.scss";
@import "./primeflex-themes.scss";

:root {
  --positive-color: #1b81e2;
  --neutral-color: #05b9bf;
  --negative-color: #fb3b52;
}

@layer reset, primeng;
@layer reset {
  // RESET
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

// DEFAULT TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 46px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6,
label,
p,
button {
  font-size: 12px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}

.fill-primary {
  fill: var(--primary-color) !important;
}

.fill-negative {
  fill: var(--negative-color) !important;
}

.fill-text-color {
  fill: var(--text-color) !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f4fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

// PRIMENG OVERRIDES
.p-checkbox {
  width: 18px;
  height: 18px;
}
.p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}
