<div class="flex flex-column gap-2">
  <span class="select-container">
    <p-dropdown
      [(ngModel)]="selectedPeriodic"
      [options]="periodicOptions"
      optionLabel="name"
      optionValue="value"
      placeholder="Yesterday"
    ></p-dropdown>
    <label>Periodic</label>
  </span>
  <span class="select-container">
    <p-dropdown
      [(ngModel)]="selectedCategory"
      [options]="categoryOptions"
      optionLabel="name"
      optionValue="value"
      placeholder="All Category"
      inputId="category"
      [disabled]="isLoadingCategoryOptions"
    ></p-dropdown>
    <label for="category">Category</label>
  </span>
  <span class="select-container">
    <p-dropdown
      [(ngModel)]="selectedSubCategory"
      [options]="subCategoryOptions"
      optionLabel="name"
      optionValue="value"
      placeholder="All Sub Category"
      inputId="subCategory"
      [disabled]="isLoadingSubCategoryOptions"
    ></p-dropdown>
    <label for="subCategory">Sub Category</label>
  </span>
  <span class="select-container">
    <p-dropdown
      [(ngModel)]="selectedMedia"
      [options]="mediaOptions"
      optionLabel="name"
      optionValue="value"
      placeholder="All Media"
      inputId="media"
      [disabled]="isLoadingMediaOptions"
    ></p-dropdown>
    <label for="media">Media</label>
  </span>
  <div class="grid">
    <div class="col-6">
      <p-button label="Set Filter" (onClick)="onSetFilter()"></p-button>
    </div>
    <div class="col-6">
      <p-button label="Custom" severity="secondary"></p-button>
    </div>
  </div>
</div>
