<div class="flex flex-column gap-3">
  <span class="p-float-label">
    <p-dropdown
      optionLabel="name"
      [showClear]="true"
      placeholder="Select a City"
      inputId="float-label"
    ></p-dropdown>
    <label for="float-label">Select a City</label>
  </span>
  <span class="p-float-label">
    <p-dropdown
      optionLabel="name"
      [showClear]="true"
      placeholder="Select a City"
      inputId="float-label"
    ></p-dropdown>
    <label for="float-label">Select a City</label>
  </span>
  <span class="p-float-label">
    <p-dropdown
      optionLabel="name"
      [showClear]="true"
      placeholder="Select a City"
      inputId="float-label"
    ></p-dropdown>
    <label for="float-label">Select a City</label>
  </span>
  <span class="p-float-label">
    <p-dropdown
      optionLabel="name"
      [showClear]="true"
      placeholder="Select a City"
      inputId="float-label"
    ></p-dropdown>
    <label for="float-label">Select a City</label>
  </span>
  <div class="flex gap-3">
    <p-button label="Sign in" type="submit"></p-button>
    <p-button label="Custom" type="submit" severity="secondary"></p-button>
  </div>
</div>
