<div class="flex flex-column gap-2">
  <span class="select-container">
    <p-dropdown
      optionLabel="name"
      [options]="options"
      placeholder="Yesterday"
      inputId="periodic"
    ></p-dropdown>
    <label for="periodic">Periodic</label>
  </span>
  <span class="select-container">
    <p-dropdown
      optionLabel="name"
      [options]="options"
      placeholder="All Category"
      inputId="category"
    ></p-dropdown>
    <label for="category">Category</label>
  </span>
  <span class="select-container">
    <p-dropdown
      optionLabel="name"
      [options]="options"
      placeholder="All Sub Category"
      inputId="subcategory"
    ></p-dropdown>
    <label for="subcategory">Sub Category</label>
  </span>
  <span class="select-container">
    <p-dropdown
      optionLabel="name"
      [options]="options"
      placeholder="All Media"
      inputId="media"
    ></p-dropdown>
    <label for="media">Media</label>
  </span>
  <div class="grid">
    <div class="col-6">
      <p-button label="Set Filter" type="submit"></p-button>
    </div>
    <div class="col-6">
      <p-button label="Custom" type="submit" severity="secondary"></p-button>
    </div>
  </div>
</div>
